server {
    listen ${NGINX_PORT};
    server_name localhost;

    root ${NGINX_WEB_ROOT};

    client_max_body_size ${NGINX_MAX_BODY_SIZE};

    location / {
        proxy_set_header   X-Forwarded-For $remote_addr;
        proxy_set_header   Host $http_host;
        proxy_pass         http://node:3000;
    }

    # Send log message to files symlinked to stdout/stderr.
    error_log /dev/stderr;
    access_log /dev/stdout main;
}
